{% extends 'homepage.html' %}
{% load static %}
{% block content %}
        <!-- Loader -->
        <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
        <!-- Loader -->

        <!-- Navbar STart -->
        {% include 'include/header.html' %}
        <!-- Navbar End -->

        <!-- Start Home -->
        {% if user.is_authenticated %}
        <section class="bg-half-170 d-table w-100" style="background: url('images/bg/01.jpg') bottom;">
            <div class="bg-overlay bg-gradient-overlay-2"></div>
            <div class="container">
                <div class="row mt-5 justify-content-center">
                    <div class="col-12">
                        <div class="title-heading text-center">
                            <h5 class="heading fw-semibold sub-heading text-white title-dark">Создайте свое объявление</h5>
                            <p class="text-white-50 para-desc mx-auto mb-0">Разместить БЕСПЛАТНОЕ объявление просто!</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="position-middle-bottom">
                    <nav aria-label="breadcrumb" class="d-block">
                        <ul class="breadcrumb breadcrumb-muted mb-0 p-0">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">FAQs</li>
                        </ul>
                    </nav>
                </div>
            </div><!--end container-->
        </section><!--end section-->
        <div class="position-relative">            
            <div class="shape overflow-hidden text-white">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!-- End Home -->

        <!-- Start -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 order-2 order-md-1 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <div class="card creators creator-primary rounded-md shadow overflow-hidden sticky-bar">
                            <div class="py-5" style="background: url('images/work/1.jpg');"></div>
                            <div class="position-relative mt-n5">
                                <img src="{{ request.user.profile_image.url }}" class="avatar avatar-md-md rounded-pill shadow-sm bg-light img-thumbnail mx-auto d-block" alt="">
                                
                                <div class="content text-center pt-2 p-4">
                                    <h6 class="mb-0">{{ request.user.first_name }} {{ request.user.last_name }}</h6>
                                    <small class="text-muted">@{{ request.user.username }}</small>

                                    <ul class="list-unstyled mb-0 mt-3" id="navmenu-nav">
                                        <li class="px-0">
                                            <a href="creator-profile.html" class="d-flex align-items-center text-dark">
                                                <span class="fs-6 mb-0"><i class="uil uil-user"></i></span>
                                                <small class="d-block fw-semibold mb-0 ms-2">Профиль</small>
                                            </a>
                                        </li>
                                        
                                        <li class="px-0 mt-2">
                                            <a href="creator-profile-edit.html" class="d-flex align-items-center text-dark">
                                                <span class="fs-6 mb-0"><i class="uil uil-setting"></i></span>
                                                <small class="d-block fw-semibold mb-0 ms-2">Настройки</small>
                                            </a>
                                        </li>
                                        
                                        <li class="px-0 mt-2">
                                            <a href="lock-screen.html" class="d-flex align-items-center text-dark">
                                                <span class="fs-6 mb-0"><i class="uil uil-sign-in-alt"></i></span>
                                                <small class="d-block fw-semibold mb-0 ms-2">Выйти</small>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-9 col-md-8 order-1 order-md-2">
                        <div class="card rounded-md shadow p-4">
                            <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="d-grid">
                                        <p class="fw-semibold mb-4">Загрузите фотографию товара <span class="text-danger">*</span></p>
                                        <div class="preview-box d-block justify-content-center rounded-md shadow overflow-hidden bg-light text-muted p-2 text-center small">Главное фото будет отображаться в результатах поиска</div>
                                        <input type="file" id="input-file" name = "image" name="input-file" accept="image/*" onchange={handleChange()} hidden />
                                        <label class="btn-upload btn btn-primary rounded-md mt-4" for="input-file">Загрузить фотографию</label>
                                    </div>
                                </div><!--end col-->
    
                                <div class="col-lg-7 mt-4 mt-lg-0">
                                    <div class="ms-lg-4">
                                       
                                            <div class="row">
                                                <div class="col-12 mb-4">
                                                    <label class="form-label fw-bold">Заголовок продукта <span class="text-danger">*</span></label>
                                                    <input name="title" id="name"type="text" class="form-control" placeholder=" Samsung S22 Ultra:">
                                                </div><!--end col-->

                                                <div class="col-12 mb-4">
                                                    <label class="form-label fw-bold"> Описание: </label>
                                                    <textarea id="comments" name="description" rows="4" class="form-control" placeholder="Пример: Стильный Samsung Galaxy S9! Цвет - черный бриллиант. Сверхъяркий экран, камера 12 Мп. Куплен год назад, состояние - как новый. Работает без сбоев. :"></textarea>
                                                </div><!--end col-->
        
                                                <div class="col-md-6 mb-4">
                                                    <label class="form-label fw-bold">Категория : <span class="text-danger">*</span></label>
                                                    <select name="category" class="form-control">
                                                        {% for category in categories %}
                                                        <option value = "{{ category.id }}">{{ category.title }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div><!--end col-->
        
                                                <div class="col-md-6 mb-4">
                                                    <label class="form-label fw-bold"> Цена : <span class="text-danger">*</span></label>
                                                    <input name = "price" type="text" class="form-control" id="time">
                                                </div><!--end col-->

                                                <div class="col-md-6 mb-4">
                                                    <label class="form-label fw-bold">Валюта : <span class="text-danger">*</span></label>
                                                    <select name = "currency" class="form-control">
                                                        {% for cur in currency %}
                                                        <option value = "{{ cur.id }}">{{ cur.name_currency }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div><!--end col-->
        
                                                <div class="col-lg-12">
                                                    <button type="submit" class="btn btn-primary rounded-md">Создать объявление</button>
                                                </div><!--end col-->
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </form>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        {% else %}
        {% include 'error.html' %}
        {% endif %}
        <!-- End -->

        <!-- Footer Start -->
        {% include 'include/footer.html' %}
        <!-- Footer End -->

        <!-- Back to top -->
        <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top rounded-pill fs-5"><i data-feather="arrow-up" class="fea icon-sm icons align-middle"></i></a>
        <!-- Back to top -->

        <!-- Wallet Modal -->
        <div class="modal fade" id="modal-metamask" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">                    
                <div class="modal-content justify-content-center border-0 shadow-md rounded-md position-relative">
                    <div class="position-absolute top-0 start-100 translate-middle z-index-1">
                        <button type="button" class="btn btn-icon btn-pills btn-sm btn-light btn-close opacity-10" data-bs-dismiss="modal" id="close-modal"><i class="uil uil-times fs-4"></i></button>
                    </div>

                    <div class="modal-body p-4 text-center">
                        <img src="images/wallet/MetaMask_Fox.svg" class="avatar avatar-md-md rounded-circle shadow-sm " alt="">

                        <div class="content mt-4">
                            <h5 class="text-danger mb-4">Error!</h5>

                            <P class="text-muted">Please Download MetaMask and create your profile and wallet in MetaMask. Please click and check the details,</P>

                            <a href="https://metamask.io/" class="btn btn-link primary text-primary fw-bold" target="_blank">MetaMask</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Wallet Modal -->

        <!-- Style switcher -->
        <div id="style-switcher" class="bg-light border p-3 pt-2 pb-2" onclick="toggleSwitcher()">
            <div class="content">
                <h6 class="title text-center">Select Your Color</h6>
                <ul class="pattern">
                    <li class="list-inline-item">
                        <a class="color1" href="javascript: void(0);" onclick="setColor('default')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="color2" href="javascript: void(0);" onclick="setColor('yellow')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="color3" href="javascript: void(0);" onclick="setColor('green')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="color4" href="javascript: void(0);" onclick="setColor('red')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="color5" href="javascript: void(0);" onclick="setColor('purple')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="color6" href="javascript: void(0);" onclick="setColor('saffron')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="color7" href="javascript: void(0);" onclick="setColor('pink')"></a>
                    </li>
                </ul>

                <h6 class="title text-center pt-3 mb-0 border-top">Theme Option</h6>
                <ul class="text-center list-unstyled mb-0">
                    <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-primary rtl-version t-rtl-light mt-2" onclick="setTheme('style-rtl')">RTL</a></li>
                    <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-primary ltr-version t-ltr-light mt-2" onclick="setTheme('style')">LTR</a></li>
                    <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-primary dark-rtl-version t-rtl-dark mt-2" onclick="setTheme('style-dark-rtl')">RTL</a></li>
                    <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-primary dark-ltr-version t-ltr-dark mt-2" onclick="setTheme('style-dark')">LTR</a></li>
                    <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-dark dark-version t-dark mt-2" onclick="setTheme('style-dark')">Dark</a></li>
                    <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-dark light-version t-light mt-2" onclick="setTheme('style')">Light</a></li>
                </ul>

                <h6 class="title text-center pt-3 mb-0 border-top">Download</h6>
                <ul class="text-center list-unstyled mb-0">
                    <li><a href="https://1.envato.market/superex" target="_blank" class="btn btn-sm btn-block btn-warning mt-2 w-100">Download</a></li>
                </ul>
            </div>
            <div class="bottom p-0">
                <a href="javascript: void(0);" class="settings bg-white title-bg-dark shadow d-flex align-items-center justify-content-center"><i class="mdi mdi-cog mdi-24px position-absolute mdi-spin text-primary"></i></a>
            </div>
        </div>
        <!-- end Style switcher -->
        
        <script>
            const handleChange = () => {
            const fileUploader = document.querySelector('#input-file');
                const getFile = fileUploader.files
                if (getFile.length !== 0) {
                    const uploadedFile = getFile[0];
                    readFile(uploadedFile);
                }
            }

            const readFile = (uploadedFile) => {
                if (uploadedFile) {
                    const reader = new FileReader();
                    reader.onload = () => {
                    const parent = document.querySelector('.preview-box');
                    parent.innerHTML = `<img class="preview-content" src=${reader.result} />`;
                    };
                    
                    reader.readAsDataURL(uploadedFile);
                }
            };
        </script>
{% endblock %}