{% extends 'homepage.html' %}
{% load static %}
{% block content %}
        <!-- Loader -->
        <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
        <!-- Loader -->

        <!-- Navbar STart -->
        {% include 'include/black_header.html' %}
        <!-- Navbar End -->

        <!-- Start -->
        <section class="bg-item-detail d-table w-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="sticky-bar">
                            <img src="{{ product.product_image.url }}" class="img-fluid rounded-md shadow" alt="">
                        </div>
                    </div>

                    <div class="col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <div class="ms-lg-5">
                            <div class="title-heading">
                                <h4 class="h3 fw-bold mb-0">{{ product.title }} </h4>
                            </div>
                            {% if product.status_product == True %}
                            <div class="row">
                                <div class="col-12">
                                    <a href="" class="btn btn-danger rounded-md" style="margin-top: 10px;">PRO</a>
                                </div><!--end col-->
                            </div><!--end row-->
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6 mt-4 pt-2">
                                    <h6>Цена товара</h6>
                                    {% if product.currency.name_currency != "Договорная" %}
                                    <h4 class="mb-0">{{ product.price }} {{ product.currency }}</h4>
                                    {% else %}
                                    <h4 class="mb-0">{{ product.currency }}</h4>
                                    {% endif %}
                                    <a href="{% url 'category_detail' product.category.slug %}"><small class="mb-0 text-muted">Категория {{ product.category.title }}</small></a>
                                </div>
                            </div>
                            {% if user.is_authenticated and request.user == product.user %}
                            <div class="row">
                                <div class="col-12">
                                    <a href="{% url 'update_product' product.id %}" class="btn btn-primary rounded-md" style="margin-top: 10px;">Обновить объявление</a>
                                </div><!--end col-->
                            </div><!--end row-->
                            <div class="row">
                                <div class="col-12">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <button type="submit" name = "deactivate_product" class="btn btn-danger rounded-md" style="margin-top: 10px;">Деактивировать</button>
                                    </form>
                                </div><!--end col-->
                            </div><!--end row-->
                            {% if product.status_product == False and product.user.status_user == False %}
                            <div class="row">
                                <div class="col-12">
                                    <a href="{% url 'pro_product_update' product.id %}" class="btn btn-danger rounded-md" style="margin-top: 10px;">Сделать PRO (100 KGS)</a>
                                </div><!--end col-->
                            </div><!--end row-->
                            {% endif %}
                            {% if product.status_product == False and product.user.status_user == True %}
                            <div class="row">
                                <div class="col-12">
                                    <a href="{% url 'pro_product_update' product.id %}" class="btn btn-danger rounded-md" style="margin-top: 10px;">Сделать PRO (бесплатно)</a>
                                </div><!--end col-->
                            </div><!--end row-->
                            {% endif %}
                            {% endif %}
                            {% if user.is_authenticated and request.user != product.user %}
                            <div class="row">
                                <div class="col-12">
                                    <form method="post">
                                        {% csrf_token %}
                                        <button type="submit" name = "chat" class="btn btn-dark rounded-md" style="margin-top: 10px;">Написать продавцу</button>
                                    </form>
                                </div><!--end col-->
                            </div><!--end row-->
                            {% endif %}

                            <div class="row mt-4 pt-2">
                                <div class="col-12">
                                    <ul class="nav nav-tabs border-bottom" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="detail-tab" data-bs-toggle="tab" data-bs-target="#detailItem" type="button" role="tab" aria-controls="detailItem" aria-selected="true">Описание</button>
                                        </li>
                                        
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="bids-tab" data-bs-toggle="tab" data-bs-target="#bids" type="button" role="tab" aria-controls="bids" aria-selected="false">Bids</button>
                                        </li>
            
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="activity-tab" data-bs-toggle="tab" data-bs-target="#activity" type="button" role="tab" aria-controls="activity" aria-selected="false">Activity</button>
                                        </li>
                                    </ul>
            
                                    <div class="tab-content mt-4 pt-2" id="myTabContent">
                                        <div class="tab-pane fade show active" id="detailItem" role="tabpanel" aria-labelledby="detail-tab">
                                            <p class="text-muted">{{ product.description }}</p>
                                            
                                            <h6>Владелец</h6>
            
                                            <div class="creators creator-primary d-flex align-items-center">
                                                <div class="position-relative">
                                                    <img src="{{ product.user.profile_image.url }}" class="avatar avatar-md-sm shadow-md rounded-pill" alt="">
                                                    <span class="verified text-primary">
                                                        <i class="mdi mdi-check-decagram"></i>
                                                    </span>
                                                </div>
                
                                                <div class="ms-3">
                                                    <h6 class="mb-0"><a href="{% url 'profile' product.user.username  %}" class="text-dark name">{{ product.user.username }}</a></h6>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="tab-pane fade" id="bids" role="tabpanel" aria-labelledby="bids-tab">
                                            <div class="creators creator-primary d-flex align-items-center">
                                                <div class="position-relative">
                                                    <img src="images/client/01.jpg" class="avatar avatar-md-sm shadow-md rounded-pill" alt="">
                                                </div>
                
                                                <div class="ms-3">
                                                    <h6 class="mb-0">2 WETH <span class="text-muted">by</span> <a href="creator-profile.html" class="text-dark name">0xe849fa28a...ea14</a></h6>
                                                    <small class="text-muted">6 hours ago</small>
                                                </div>
                                            </div>
            
                                            <div class="creators creator-primary d-flex align-items-center mt-4">
                                                <div class="position-relative">
                                                    <img src="images/client/08.jpg" class="avatar avatar-md-sm shadow-md rounded-pill" alt="">
                                                </div>
                
                                                <div class="ms-3">
                                                    <h6 class="mb-0">0.001 WETH <span class="text-muted">by</span> <a href="creator-profile.html" class="text-dark name">VOTwear</a></h6>
                                                    <small class="text-muted">6 hours ago</small>
                                                </div>
                                            </div>
            
                                            <div class="creators creator-primary d-flex align-items-center mt-4">
                                                <div class="position-relative">
                                                    <img src="images/client/10.jpg" class="avatar avatar-md-sm shadow-md rounded-pill" alt="">
                                                </div>
                
                                                <div class="ms-3">
                                                    <h6 class="mb-0">1.225 WETH <span class="text-muted">by</span> <a href="creator-profile.html" class="text-dark name">PandaOne</a></h6>
                                                    <small class="text-muted">6 hours ago</small>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="tab-pane fade" id="activity" role="tabpanel" aria-labelledby="activity-tab">
                                            <div class="row g-4">
                                                <div class="col-12">
                                                    <div class="card activity activity-primary rounded-md shadow p-4">
                                                        <div class="d-flex align-items-center">
                                                            <div class="position-relative">
                                                                <img src="images/items/1.jpg" class="avatar avatar-md-md rounded-md shadow-md" alt="">
                
                                                                <div class="position-absolute top-0 start-0 translate-middle px-1 rounded-lg shadow-md bg-white">
                                                                    <i class="mdi mdi-account-check mdi-18px text-success"></i>
                                                                </div>
                                                            </div>
                                                                
                                                            <span class="content ms-3">
                                                                <a href="javascript:void(0)" class="text-dark title mb-0 h6 d-block">Digital Art Collection</a>
                                                                <small class="text-muted d-block mt-1">Started Following <a href="javascript:void(0)" class="link fw-bold">@Panda</a></small>
                                                                
                                                                <small class="text-muted d-block mt-1">1 hours ago</small>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div><!--end col-->
                                                
                                                <div class="col-12">
                                                    <div class="card activity activity-primary rounded-md shadow p-4">
                                                        <div class="d-flex align-items-center">
                                                            <div class="position-relative">
                                                                <img src="images/gif/1.gif" class="avatar avatar-md-md rounded-md shadow-md" alt="">
                
                                                                <div class="position-absolute top-0 start-0 translate-middle px-1 rounded-lg shadow-md bg-white">
                                                                    <i class="mdi mdi-heart mdi-18px text-danger"></i>
                                                                </div>
                                                            </div>
                                                                
                                                            <span class="content ms-3">
                                                                <a href="javascript:void(0)" class="text-dark title mb-1 h6 d-block">Skrrt Cobain Official</a>
                                                                <small class="text-muted d-block mt-1">Liked by <a href="javascript:void(0)" class="link fw-bold">@ButterFly</a></small>
                                                                
                                                                <small class="text-muted d-block mt-1">2 hours ago</small>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div><!--end col-->
                                                
                                                <div class="col-12">
                                                    <div class="card activity activity-primary rounded-md shadow p-4">
                                                        <div class="d-flex align-items-center">
                                                            <div class="position-relative">
                                                                <img src="images/items/2.jpg" class="avatar avatar-md-md rounded-md shadow-md" alt="">
                
                                                                <div class="position-absolute top-0 start-0 translate-middle px-1 rounded-lg shadow-md bg-white">
                                                                    <i class="mdi mdi-heart mdi-18px text-danger"></i>
                                                                </div>
                                                            </div>
                                                                
                                                            <span class="content ms-3">
                                                                <a href="javascript:void(0)" class="text-dark title mb-1 h6 d-block">Wow! That Brain Is Floating</a>
                                                                <small class="text-muted d-block mt-1">Liked by <a href="javascript:void(0)" class="link fw-bold">@ButterFly</a></small>
                                                                
                                                                <small class="text-muted d-block mt-1">2 hours ago</small>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div><!--end col-->
                                            </div><!--end row-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <div class="container mt-100 mt-60">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="section-title text-center mb-4 pb-2">
                            <h4 class="title mb-4">Возможно вам понравится</h4>
                            <p class="text-muted para-desc mb-0 mx-auto">Мы являемся огромной торговой площадкой, где вы можете бесплатно разместить свое объявление</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-sm-2 row-cols-1">
                    {% for product in random_product %}
                    <div class="col mt-4 pt-2">
                        <div class="card nft-items nft-primary nft-auction rounded-md shadow overflow-hidden mb-1 p-3">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <img src="{{ product.user.profile_image.url }}" alt="user" class="avatar avatar-sm-sm img-thumbnail border-0 shadow-sm rounded-circle">
                                    <a href="{% url 'profile' product.user.username %}" class="text-dark small creator-name h6 mb-0 ms-2">@{{ product.user.username }}</a>
                                </div>
                            </div>

                            <div class="nft-image rounded-md mt-3 position-relative overflow-hidden">
                                <a href="{% url 'product_detail' product.id %}"><img src="{{ product.product_image.url }}" class="img-fluid" alt=""></a>
                                <div class="position-absolute top-0 start-0 m-2">
                                    {% if product.status_product == True %}
                                    <a href="javascript:void(0)" class="badge badge-link bg-danger">PRO</a>
                                    <a href="javascript:void(0)" class="badge badge-link bg-primary">{{ product.category.title }}</a>
                                    {% else %}
                                    <a href="javascript:void(0)" class="badge badge-link bg-primary">{{ product.category.title }}</a>
                                    {% endif %}
                                </div> 
                            </div>

                            <div class="card-body content position-relative p-0 mt-3">
                                <a href="{% url 'product_detail' product.id %}" class="title text-dark h6">{{ product.title }}</a>

                                <div class="d-flex align-items-center justify-content-between mt-3">
                                    <div class="">
                                        <small class="mb-0 d-block fw-semibold">Цена:</small>
                                        {% if product.currency.name_currency != "Договорная" %}
                                        <small class="rate fw-bold">{{ product.price }} {{ product.currency }}</small>
                                        {% else %}
                                        <small class="rate fw-bold">{{ product.currency }}</small>
                                        {% endif %}
                                    </div>
                                    <a href="{% url 'product_detail' product.id %}" class="btn btn-icon btn-pills btn-primary"><i class="uil uil-shopping-bag"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    {% endfor %}
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->

        <!-- Footer Start -->
        {% include 'include/footer.html' %}
        <!-- Footer End -->

        <!-- Back to top -->
        <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top rounded-pill fs-5"><i data-feather="arrow-up" class="fea icon-sm icons align-middle"></i></a>
        <!-- Back to top -->

        <!-- Wallet Modal -->
        <div class="modal fade" id="modal-metamask" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">                    
                <div class="modal-content justify-content-center border-0 shadow-md rounded-md position-relative">
                    <div class="position-absolute top-0 start-100 translate-middle z-index-1">
                        <button type="button" class="btn btn-icon btn-pills btn-sm btn-light btn-close opacity-10" data-bs-dismiss="modal" id="close-modal"><i class="uil uil-times fs-4"></i></button>
                    </div>

                    <div class="modal-body p-4 text-center">
                        <img src="images/wallet/MetaMask_Fox.svg" class="avatar avatar-md-md rounded-circle shadow-sm " alt="">

                        <div class="content mt-4">
                            <h5 class="text-danger mb-4">Error!</h5>

                            <P class="text-muted">Please Download MetaMask and create your profile and wallet in MetaMask. Please click and check the details,</P>

                            <a href="https://metamask.io/" class="btn btn-link primary text-primary fw-bold" target="_blank">MetaMask</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Wallet Modal -->

        <!-- Place Bid Modal -->
        <div class="modal fade" id="NftBid" aria-hidden="true" aria-labelledby="bidtitle" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content border-0 shadow-md rounded-md">
                    <div class="modal-header">
                        <h5 class="modal-title" id="bidtitle">Place a Bid</h5>
                        <button type="button" class="btn btn-close" data-bs-dismiss="modal" id="close-modal"><i class="uil uil-times fs-4"></i></button>
                    </div>
                    <div class="modal-body p-4">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="mb-4">
                                        <label class="form-label fw-bold">Your Bid Price <span class="text-danger">*</span></label>
                                        <input name="name" id="name" type="text" class="form-control" placeholder="00.00 ETH">
                                        <small class="text-muted"><span class="text-dark">Note:</span> Bid price at least 1 ETH</small>
                                    </div>
                                </div><!--end col-->
                                <div class="col-12">
                                    <div class="mb-4">
                                        <label class="form-label fw-bold">Enter Your QTY <span class="text-danger">*</span></label>
                                        <input name="email" id="email" type="email" class="form-control" placeholder="0">
                                        <small class="text-muted"><span class="text-dark">Note:</span> Max. Qty 5</small>
                                    </div> 
                                </div><!--end col-->
                            </div>
                        </form>

                        <div class="pt-3 border-top">
                            <div class="d-flex justify-content-between">
                                <p class="fw-bold small"> You must bid at least:</p>
                                <p class="text-primary"> 1.22 ETH </p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="fw-bold small"> Service free:</p>
                                <p class="text-primary"> 0.05 ETH </p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="fw-bold small"> Total bid amount:</p>
                                <p class="text-primary mb-0"> 1.27 ETH </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-pills btn-primary" data-bs-target="#placebid" data-bs-toggle="modal"><i class="mdi mdi-gavel fs-5 me-2"></i> Place a Bid</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="placebid" aria-hidden="true" aria-labelledby="bidsuccess" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content border-0 shadow-md rounded-md">
                    <div class="modal-header">
                        <h5 class="modal-title" id="bidsuccess">Bidding Successful</h5>
                        <button type="button" class="btn btn-close" data-bs-dismiss="modal" id="close-modal"><i class="uil uil-times fs-4"></i></button>
                    </div>
                    <div class="modal-body p-4">
                        your bid (1.27ETH) has been listing to our database
                    </div>
                    <div class="modal-footer">
                        <a href="activity.html" class="btn btn-pills btn-primary"><i class="mdi mdi-basket-plus fs-5 me-2"></i> View Your Bid</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Place Bid Modal -->

        <!-- Buy Now NFt Modal -->
        <div class="modal fade" id="NftBuynow" aria-hidden="true" aria-labelledby="buyNft" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content border-0 shadow-md rounded-md">
                    <div class="modal-header">
                        <h5 class="modal-title" id="buyNft">Checkout</h5>
                        <button type="button" class="btn btn-close" data-bs-dismiss="modal" id="close-modal"><i class="uil uil-times fs-4"></i></button>
                    </div>
                    <div class="modal-body p-4">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="mb-4">
                                        <label class="form-label fw-bold">Your Price <span class="text-danger">*</span></label>
                                        <input name="name" id="name" type="text" class="form-control" value="1.5ETH">
                                    </div>
                                </div><!--end col-->
                            </div>
                        </form>

                        <div class="py-3 border-top">
                            <div class="d-flex justify-content-between">
                                <p class="fw-bold small"> You must bid at least:</p>
                                <p class="text-primary"> 1.22 ETH </p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="fw-bold small"> Service free:</p>
                                <p class="text-primary"> 0.05 ETH </p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="fw-bold small"> Total bid amount:</p>
                                <p class="text-primary mb-0"> 1.27 ETH </p>
                            </div>
                        </div>

                        <div class="bg-soft-danger p-3 rounded shadow">
                            <div class="d-flex align-items-center">
                                <i class="uil uil-exclamation-circle h2 mb-0 me-2"></i>
                                <div class="flex-1">
                                    <h6 class="mb-0">This creator is not verified</h6>
                                    <small class="mb-0">Purchase this item at your own risk</small>
                                </div>
                            </div>
                        </div>
                        
                        <div class="mt-4">
                            <button class="btn btn-pills btn-primary w-100" data-bs-target="#buyNftSuccess" data-bs-toggle="modal"><i class="mdi mdi-cart fs-5 me-2"></i> Continue</button>
                            <form>
                                <div class="form-check align-items-center d-flex mt-2">
                                    <input class="form-check-input mt-0" type="checkbox" value="" id="AcceptT&C">
                                    <label class="form-check-label text-muted ms-2" for="AcceptT&C">I Accept <a href="javascript:void(0)" class="text-primary">Terms And Condition</a></label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="buyNftSuccess" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content border-0 shadow-md rounded-md">
                    <div class="position-absolute top-0 start-100 translate-middle z-index-1">
                        <button type="button" class="btn btn-icon btn-pills btn-sm btn-light btn-close opacity-10" data-bs-dismiss="modal" id="close-modal"><i class="uil uil-times fs-4"></i></button>
                    </div>
                    <div class="modal-body text-center p-4">
                        <h3>Yahhhoooo! 🎉</h3>
                        <h6 class="text-muted mb-0">You successfully purchased <a href="" class="text-reset"><u>XYZ nft</u></a> from Superex</h6>

                        <ul class="rounded-md shadow p-4 border list-unstyled mt-4">
                            <li class="d-flex justify-content-between">
                                <span class="fw-bold me-5">Status:</span>
                                <span class="text-warning">Processing</span>
                            </li>

                            <li class="d-flex justify-content-between mt-2">
                                <span class="fw-bold me-5">Transaction ID:</span>
                                <span class="text-muted">qhut0...hfteh45</span>
                            </li>
                        </ul>

                        <ul class="list-unstyled social-icon mb-0 mt-4">
                            <li class="list-inline-item lh-1"><a href="" class="rounded"><i class="uil uil-facebook-f"></i></a></li>
                            <li class="list-inline-item lh-1"><a href="" class="rounded"><i class="uil uil-instagram"></i></a></li>
                            <li class="list-inline-item lh-1"><a href="" class="rounded"><i class="uil uil-linkedin"></i></a></li>
                            <li class="list-inline-item lh-1"><a href="" class="rounded"><i class="uil uil-dribbble"></i></a></li>
                            <li class="list-inline-item lh-1"><a href="" class="rounded"><i class="uil uil-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Buy Now NFt Modal -->

        <!-- Style switcher -->
        <div id="style-switcher" class="bg-light border p-3 pt-2 pb-2" onclick="toggleSwitcher()">
            <div class="content">
                <h6 class="title text-center">Select Your Color</h6>
                <ul class="pattern">
                    <li class="list-inline-item">
                        <a class="color1" href="javascript: void(0);" onclick="setColor('default')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="color2" href="javascript: void(0);" onclick="setColor('yellow')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="color3" href="javascript: void(0);" onclick="setColor('green')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="color4" href="javascript: void(0);" onclick="setColor('red')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="color5" href="javascript: void(0);" onclick="setColor('purple')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="color6" href="javascript: void(0);" onclick="setColor('saffron')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="color7" href="javascript: void(0);" onclick="setColor('pink')"></a>
                    </li>
                </ul>

                <h6 class="title text-center pt-3 mb-0 border-top">Theme Option</h6>
                <ul class="text-center list-unstyled mb-0">
                    <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-primary rtl-version t-rtl-light mt-2" onclick="setTheme('style-rtl')">RTL</a></li>
                    <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-primary ltr-version t-ltr-light mt-2" onclick="setTheme('style')">LTR</a></li>
                    <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-primary dark-rtl-version t-rtl-dark mt-2" onclick="setTheme('style-dark-rtl')">RTL</a></li>
                    <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-primary dark-ltr-version t-ltr-dark mt-2" onclick="setTheme('style-dark')">LTR</a></li>
                    <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-dark dark-version t-dark mt-2" onclick="setTheme('style-dark')">Dark</a></li>
                    <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-dark light-version t-light mt-2" onclick="setTheme('style')">Light</a></li>
                </ul>

                <h6 class="title text-center pt-3 mb-0 border-top">Download</h6>
                <ul class="text-center list-unstyled mb-0">
                    <li><a href="https://1.envato.market/superex" target="_blank" class="btn btn-sm btn-block btn-warning mt-2 w-100">Download</a></li>
                </ul>
            </div>
            <div class="bottom p-0">
                <a href="javascript: void(0);" class="settings bg-white title-bg-dark shadow d-flex align-items-center justify-content-center"><i class="mdi mdi-cog mdi-24px position-absolute mdi-spin text-primary"></i></a>
            </div>
        </div>
        <!-- end Style switcher -->
        
{% endblock %}