{% load static %}
<header id="topnav" class="defaultscroll sticky">
    <div class="container">
        <!-- Logo Start-->
        <a class="logo" href="{% url 'index' %}">
            <span class="logo-light-mode">
                <img src="{{ setting.logo.url }}" height="26" class="l-dark" alt="">
                <img src="{{ setting.logo.url }}" height="26" class="l-light" alt="">
            </span>
            <img src="{{ setting.logo.url }}" height="26" class="logo-dark-mode" alt="">
        </a>
        <!-- Logo end-->

        <!-- Mobile -->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>
        <!-- Mobile -->

        <!--Login button Start-->
        <ul class="buy-button list-inline mb-0">
            <li class="list-inline-item mb-0 me-1">
                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="uil uil-search text-white title-dark btn-icon-light fs-5 align-middle"></i>
                        <i class="uil uil-search text-dark btn-icon-dark fs-5 align-middle"></i>
                    </button>
                    <div class="dropdown-menu dd-menu dropdown-menu-end bg-white shadow rounded border-0 mt-3 p-0" style="width: 300px;">
                        <div class="search-bar">
                            <div id="itemSearch" class="menu-search mb-0">
                                <form role="search" method="get" id="searchItemform" class="searchform">
                                    <input type="text" class="form-control border rounded shadow" name="s" id="s" placeholder="Search...">
                                    <input type="submit" id="searchItemsubmit" value="Search">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="list-inline-item mb-0 me-1">
                <a id="connectWallet">
                    <span class="btn-icon-dark"><span class="btn btn-icon btn-pills btn-primary"><i class="uil uil-wallet fs-6"></i></span></span>
                    <span class="btn-icon-light"><span class="btn btn-icon btn-pills btn-light"><i class="uil uil-wallet fs-6"></i></span></span>
                </a>
            </li>
            
            <li class="list-inline-item mb-0">
                <div class="dropdown dropdown-primary">
                    {% if user.is_authenticated and request.user == user %}
                    <button type="button" class="btn btn-pills dropdown-toggle p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{ request.user.profile_image.url }}" class="rounded-pill avatar avatar-sm-sm" alt=""></button>
                    
                    <div class="dropdown-menu dd-menu dropdown-menu-end bg-white shadow border-0 mt-3 pb-3 pt-0 overflow-hidden rounded" style="min-width: 200px;">
                        <div class="position-relative">
                            <div class="pt-5 pb-3 bg-gradient-primary"></div>
                            <div class="px-3">
                                <div class="d-flex align-items-end mt-n4">
                                    <img src="{{ request.user.profile_image.url }}" class="rounded-pill avatar avatar-md-sm img-thumbnail shadow-md" alt="">
                                    {% if request.user.status_user == True %}
                                    <h6 class="text-danger fw-bold mb-0 ms-1">{{ request.user.username }}</h6>
                                    {% else %}
                                    <h6 class="text-dark fw-bold mb-0 ms-1">{{ request.user.username }}</h6>
                                    {% endif %}
                                </div>
                                <div class="mt-2">
                                    <small class="text-start text-dark d-block fw-bold">Кошелек:</small>
                                    <small class="text-start text-dark d-block fw-bold">{{ request.user.wallet }}</small>
                                    
                                </div>
                                
                                <div class="mt-2">
                                    <small class="text-dark">Баланс: <span class="text-primary fw-bold">{{ request.user.balance }} KGS</span></small>
                                </div>
                            </div>
                        </div>
                        {% if user.is_authenticated and request.user == user %}
                        
                        <div class="mt-2">
                            <a class="dropdown-item small fw-semibold text-dark d-flex align-items-center" href="{% url 'profile' request.user.username %}"><span class="mb-0 d-inline-block me-1"><i class="uil uil-user align-middle h6 mb-0 me-1"></i></span> Профиль</a>
                            <a class="dropdown-item small fw-semibold text-dark d-flex align-items-center" href="{% url 'user_setting' request.user.id %}"><span class="mb-0 d-inline-block me-1"><i class="uil uil-cog align-middle h6 mb-0 me-1"></i></span> Настройки</a>
                            <a class="dropdown-item small fw-semibold text-dark d-flex align-items-center" href="{% url 'money_transfer' %}"><span class="mb-0 d-inline-block me-1"><i class="uil uil-wallet align-middle h6 mb-0 me-1"></i></span> Отправить деньги</a>
                            <div class="dropdown-divider border-top"></div>
                            <a class="dropdown-item small fw-semibold text-dark d-flex align-items-center" href="{% url 'logout' %}"><span class="mb-0 d-inline-block me-1"><i class="uil uil-sign-out-alt align-middle h6 mb-0 me-1"></i></span> Выйти</a>
                        </div>
                        {% endif %}
                        
                    </div>
                    {% endif %}
                </div>
            </li>
        </ul>
        <!--Login button End-->

        <div id="navigation">
            <!-- Navigation Menu-->   
            <ul class="navigation-menu nav-left nav-light">
                <li class="has-submenu parent-parent-menu-item">
                    <a href="{% url 'index' %}">Домой</a> 
                </li>
                
                <li class="has-submenu parent-parent-menu-item">
                    <a href="javascript:void(0)">Категории</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        {% for category in categories %}
                        <li><a href="{% url 'category_detail' category.slug %}" class="sub-menu-item">{{ category.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                
                <li><a href="{% url 'news_index' %}" class="sub-menu-item"> Новости</a></li>

                <li><a href="{% url 'about_us' %}" class="sub-menu-item">О нас</a></li>
                               
                <li><a href="{% url 'contact' %}" class="sub-menu-item">Контакты</a></li>
                {% if request.user.is_authenticated %}
                <li><div style="margin-top: 12px !important;" class="mt-1 pt-2">
                    <a href="{% url 'create_product' %}" id="btn-dark" class="btn btn-pills btn-outline-light-white">Создать объявление</a>
                </div></li>
                {% else %}
                <li><a href="{% url 'register' %}" class="sub-menu-item">Зарегистрироваться</a></li>
                <li><a href="{% url 'user_login' %}" class="sub-menu-item">Войти</a></li>
                {% endif %}
            </ul><!--end navigation menu-->
        </div><!--end navigation-->
    </div><!--end container-->
</header><!--end header-->