{% extends 'homepage.html' %}
{% load static %}
{% block content %}
        <!-- Loader -->
        <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
        <!-- Loader -->

        <!-- Navbar STart -->
        
        <!-- Navbar End -->
        {% include 'include/header.html' %}
        <!-- Start Home -->
        <section class="bg-half-170 d-table w-100" style="background-image: url('images/bg/bg01.png'); background-position: center center;">
            <div class="bg-overlay bg-gradient-primary opacity-8"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-6">
                        <div class="title-heading">
                            <h6 class="text-light title-dark fw-normal">{{ setting.title }}</h6>
                            <h4 class="heading text-white title-dark fw-bold mb-3">Обходитесь без лишних трат в {{ setting.title }}</h4>
                            <p class="text-white-50 para-desc mb-0 mb-0">{{ setting.description }}</p>
                            {% if user.is_authenticated %}
                            <div class="mt-4 pt-2">
                                <a href="{% url 'create_product' %}" class="btn btn-pills btn-outline-light-white">Создать объявление</a>
                            </div>
                            {% else %}
                            <div class="mt-4 pt-2">
                                <a href="{% url 'register' %}" class="btn btn-pills btn-outline-light-white">Создать объявление</a>
                            </div>
                            {% endif %}
                        </div>
                    </div><!--end slide-->

                    <div class="col-lg-5 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <div class="card bg-white nft-items nft-primary img-skewed rounded-md shadow overflow-hidden mb-1 p-3">
                            {% for random in random_product %}
                            {% if random.activity_product == True %}
                            <div class="d-flex justify-content-between">
                                <div class="img-group">
                                    <a href="{% url 'profile' random.user.username %}" class="user-avatar">
                                        <img src="{{ random.user.profile_image.url }}" alt="user" class="avatar avatar-sm-sm img-thumbnail border-0 shadow-sm rounded-circle">
                                    </a>
                                    
                                </div>
                                
                                
                            </div>

                            <div class="nft-image rounded-md mt-3 position-relative overflow-hidden shadow">
                                <a href="{% url 'product_detail' random.id %}"><img src="{{ random.product_image.url }}" class="img-fluid" alt=""></a>
                                <div class="position-absolute top-0 start-0 m-2">
                                    <a href="{% url 'product_detail' random.id %}" class="badge badge-link bg-danger">PRO</a>
                                    <a href="{% url 'product_detail' random.id %}" class="badge badge-link bg-primary">{{ random.category.title }}</a>
                                </div> 

                                <div class="position-absolute top-0 end-0 m-2">
                                    <a href="{% url 'product_detail' random.id %}" class="btn btn-pills btn-icon"><i class="uil uil-shopping-cart-alt"></i></a>
                                </div>

                                
                            </div>

                            <div class="card-body content position-relative p-0 mt-3">
                                <a href="{% url 'product_detail' random.id %}" class="title text-dark h5">{{ random.title }}</a>

                                <div class="d-flex justify-content-between mt-2">
                                    {% if product.currency.name_currency != "Договорная" %}
                                    <small class="rate fw-bold">{{ random.price }} {{ random.currency }}</small>
                                    {% else %}
                                    <small class="rate fw-bold">{{ random.currency }}</small>
                                    {% endif %}
                                    <small class="text-dark fw-bold">{{ random.created }}</small>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                            
                        </div>
                    </div><!--end slide-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End Home -->

        <!-- Start -->
        <section class="section">
            <div class="container">
                {% if users or user.first_name and user.last_name %}
                <div class="row align-items-end mb-4 pb-2">
                    <div class="col-md-8">
                        <div class="section-title">
                            <h4 class="title mb-2">Продавцы на нашем сайте</h4>
                            <p class="text-muted mb-0">Бестселлеры нашего сайта</p>
                        </div>
                    </div><!--end slide-->

                    <div class="col-md-4">
                        <div class="text-end d-md-block d-none">
                            <a href="creators.html" class="btn btn-link primary text-dark">Узнать больше <i class="uil uil-arrow-right"></i></a>
                        </div>
                    </div><!--end slide-->
                </div><!--end row-->

                <div class="row">
                    <div class="col-12 mt-3">
                        <div class="tiny-five-item-nav-arrow">
                            {% for user in users %}
                            {% if user.status_user == True and user.first_name and user.last_name %}
                            <div class="tiny-slide">
                                <div class="card creators creators-two creator-primary rounded-md shadow overflow-hidden mx-2 my-3">
                                    <div class="py-5" style="background: url('images/work/1.jpg');"></div>
                                    <div class="position-relative mt-n5">
                                        <img src="{{ user.profile_image.url }}" class="avatar avatar-md-md rounded-pill shadow-sm bg-light img-thumbnail mx-auto d-block" alt="">
                                        
                                        <div class="content text-center pt-2 p-4">
                                            <a href="{% url 'profile' user.username %}" class="text-dark h6 name d-block mb-0">{{ user.first_name }} {{ user.last_name }}</a>
                                            <small class="text-muted">@{{ user.username }}</small>

                                            <div class="mt-3">
                                                <a href="{% url 'profile' user.username %}" class="btn btn-pills btn-soft-danger">PRO</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end slide-->
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
                {% endif %}

                <div class="row">
                    <div class="col">
                        <div class="text-center d-md-none d-block">
                            <a href="creators.html" class="btn btn-link primary text-dark">See More <i class="uil uil-arrow-right"></i></a>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <div class="container mt-100 mt-60">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="section-title text-center mb-4 pb-2">
                            <h4 class="title mb-4">Все наши товары</h4>
                            <p class="text-muted para-desc mb-0 mx-auto">Мы являемся огромной торговой площадкой, посвященной объединению великих артистов всех Superex с их поклонниками и коллекционерами уникальных токенов!</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row justify-content-center mt-4 mb-5">
                    <div class="col filters-group-wrap">
                        <div class="filters-group">
                            <ul class="container-filter mb-0 categories-filter text-center list-unstyled filter-options">
                                <li class="list-inline-item categories position-relative text-dark active" data-group="all"><i class="uil uil-browser"></i> All</li>
                                {% for category in categories %}
                                <li class="list-inline-item categories position-relative text-dark" data-group="{{ category.title }}">{{ category.title }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-sm-2 row-cols-1 g-4" id="grid">
                    {% for product in products %}
                    {% if product.activity_product == True %}
                    <div class="col picture-item" data-groups='["{{ product.category.title }}"]'>
                        <div class="card nft-items nft-primary rounded-md shadow overflow-hidden mb-1 p-3">
                            <div class="d-flex justify-content-between">
                                <div class="img-group">
                                    <a href="{% url 'profile' product.user.username %}" class="user-avatar">
                                        <img src="{{ product.user.profile_image.url }}" alt="user" class="avatar avatar-sm-sm img-thumbnail border-0 shadow-sm rounded-circle">
                                    </a>
                                    
                                    </a>
                                </div>
                                
                               
                            </div>

                            <div class="nft-image rounded-md mt-3 position-relative overflow-hidden">
                                <a href="{% url 'product_detail' product.id %}"><img src="{{ product.product_image.url }}" class="img-fluid" alt=""></a>
                                <div class="position-absolute top-0 start-0 m-2">
                                    {% if product.status_product == True %}
                                    <a href="{% url 'product_detail' product.id %}" class="badge badge-link bg-danger">PRO</a>
                                    <a href="{% url 'product_detail' product.id %}" class="badge badge-link bg-primary">{{ product.category.title }}</a>
                                    {% else %}
                                    <a href="{% url 'product_detail' product.id %}" class="badge badge-link bg-primary">{{ product.category.title }}</a>
                                    {% endif %}
                                </div>

                                <div class="position-absolute top-0 end-0 m-2">
                                    <a href="{% url 'product_detail' product.id %}" class="btn btn-pills btn-icon"><i class="uil uil-shopping-cart-alt"></i></a>
                                </div>

                               
                            </div>

                            <div class="card-body content position-relative p-0 mt-3">
                                <a href="{% url 'product_detail' product.id %}" class="title text-dark h6">{{ product.title }}</a>

                                <div class="d-flex justify-content-between mt-2">
                                    {% if product.currency.name_currency != "Договорная" %}
                                    <small class="rate fw-bold">{{ product.price }} {{ product.currency }}</small>
                                    {% else %}
                                    <small class="rate fw-bold">{{ product.currency }}</small>
                                    {% endif %}
                                    <small class="text-dark fw-bold">{{ product.created|truncatewords:1 }}</small>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    {% endif %}
                    {% endfor %}
                </div><!--end row-->
            </div><!--end container-->

            <div class="container-fluid mt-100 mt-60">
                <div class="row px-0">
                    <div class="bg-half-100 bg-gradient-primary">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col">
                                    <div class="section-title text-center mb-4 pb-2">
                                        <h4 class="title text-white title-dark mb-4">Присоединяйтесь к нашему проекту {{ setting.title }} <br> с более {{ users.all.count }} пользователями</h4>
                                        <p class="text-white-50 para-desc mb-0 mx-auto">{{ setting.description }}</p>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->

                            <div class="row">
                                <div class="col-md-6 mt-4 pt-2">
                                    <div class="card p-4 rounded-md shadow bg-white">
                                        <h4 class="mb-4">Создать объявление</h4>
                                        <p class="text-muted mb-0">Вы сможете бесплатно создавать свои объявления и продать их на нашей торговой площадке</p>

                                        <div class="mt-3">
                                            {% if user.is_authenticated %}
                                            <a href="{% url 'create_product' %}" class="btn btn-link primary text-dark">Создать объявление <i class="uil uil-arrow-right"></i></a>
                                            {% else %}
                                            <a href="{% url 'register' %}" class="btn btn-link primary text-dark">Зарегистрируйтесь что бы создать объявление<i class="uil uil-arrow-right"></i></a>
                                            {% endif %}
                                        </div>
                                        <div class="py-4"></div>
                                        <div class="position-absolute bottom-0 end-0">
                                            <img src="images/svg/community.png" class="avatar avatar-medium opacity-05" alt="">
                                        </div>
                                    </div>
                                </div><!--end col-->
                                
                                <div class="col-md-6 mt-4 pt-2">
                                    <div class="card p-4 rounded-md shadow bg-white">
                                        <h4 class="mb-4">Узнать больше о {{ setting.title }}</h4>
                                        <p class="text-muted mb-0">{{ setting.description|truncatewords:10 }}</p>

                                        <div class="mt-3">
                                            <a href="{% url 'about_us' %}" class="btn btn-link primary text-dark">Узнать больше <i class="uil uil-arrow-right"></i></a>
                                        </div>
                                        <div class="py-4"></div>
                                        <div class="position-absolute bottom-0 end-0">
                                            <img src="images/svg/united.png" class="avatar avatar-medium opacity-05" alt="">
                                        </div>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end container-->
                    </div>
                </div><!--end row-->
            </div><!--end container-->

            <div class="container mt-100 mt-60">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="section-title text-center mb-5 pb-3">
                            <h4 class="title mb-4">Новости проекта</h4>
                            <p class="text-muted para-desc mb-0 mx-auto">Новости проекта {{ setting.title }}. </p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row g-4">
                    {% for new in news %}
                    <div class="col-lg-4 col-md-6">
                        <div class="card blog blog-primary shadow rounded-md overflow-hidden">
                            <div class="position-relative">
                                <img src="{{ new.image.url }}" class="img-fluid rounded-md" alt="">
                            </div>
                            <div class="card-body position-relative p-4">
                                <a href="{% url 'profile' new.user.username %}" class="badge tag gradient rounded-md fw-bold">{{ new.user }}</a>

                                <ul class="list-unstyled mt-2">
                                    <li class="list-inline-item text-muted small me-3"><i class="uil uil-calendar-alt text-dark h6 me-1"></i>{{ new.created }}</li>
                                   
                                </ul>
                                <a href="{% url 'news_detail' new.id %}" class="text-dark title h5 mt-3">{{ new.title }}</a>
                                
                                <div class="mt-3 d-flex justify-content-between align-items-center">
                                    <a href="{% url 'news_detail' new.id %}" class="btn btn-link text-muted">Читать далее <i data-feather="arrow-right" class="fea icon-sm"></i></a>
                                    <span class="text-muted fs-6"><a href="{% url 'profile' new.user.username %}" class="link">@{{ new.user }}</a></span>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    {% endfor %}
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->

        <!-- Footer Start -->
        {% include 'include/footer.html' %}
        <!-- Footer End -->

        <!-- Back to top -->
        <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top rounded-pill fs-5"><i data-feather="arrow-up" class="fea icon-sm icons align-middle"></i></a>
        <!-- Back to top -->

        <!-- Wallet Modal -->
        <div class="modal fade" id="modal-metamask" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">                    
                <div class="modal-content justify-content-center border-0 shadow-md rounded-md position-relative">
                    <div class="position-absolute top-0 start-100 translate-middle z-index-1">
                        <button type="button" class="btn btn-icon btn-pills btn-sm btn-light btn-close opacity-10" data-bs-dismiss="modal" id="close-modal"><i class="uil uil-times fs-4"></i></button>
                    </div>

                    <div class="modal-body p-4 text-center">
                        <img src="{% static 'images/wallet/MetaMask_Fox.svg' %}" class="avatar avatar-md-md rounded-circle shadow-sm " alt="">

                        <div class="content mt-4">
                            <h5 class="text-primary mb-4">Баланс {{ request.user.balance }} KGS</h5>

                            <P class="text-muted">Ваш адрес кошелька:</P>
                            <P class="text-muted">{{ request.user.wallet }}</P>

                            <a href="https://metamask.io/" class="btn btn-link primary text-primary fw-bold" target="_blank">Перейти в аккаунт</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Wallet Modal -->

        <!-- Style switcher -->
        <div id="style-switcher" class="bg-light border p-3 pt-2 pb-2" onclick="toggleSwitcher()">
            <div class="content">
                <h6 class="title text-center">Select Your Color</h6>
                <ul class="pattern">
                    <li class="list-inline-item">
                        <a class="color1" href="javascript: void(0);" onclick="setColor('default')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="color2" href="javascript: void(0);" onclick="setColor('yellow')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="color3" href="javascript: void(0);" onclick="setColor('green')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="color4" href="javascript: void(0);" onclick="setColor('red')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="color5" href="javascript: void(0);" onclick="setColor('purple')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="color6" href="javascript: void(0);" onclick="setColor('saffron')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="color7" href="javascript: void(0);" onclick="setColor('pink')"></a>
                    </li>
                </ul>

                <h6 class="title text-center pt-3 mb-0 border-top">Theme Option</h6>
                <ul class="text-center list-unstyled mb-0">
                    <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-primary rtl-version t-rtl-light mt-2" onclick="setTheme('style-rtl')">RTL</a></li>
                    <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-primary ltr-version t-ltr-light mt-2" onclick="setTheme('style')">LTR</a></li>
                    <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-primary dark-rtl-version t-rtl-dark mt-2" onclick="setTheme('style-dark-rtl')">RTL</a></li>
                    <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-primary dark-ltr-version t-ltr-dark mt-2" onclick="setTheme('style-dark')">LTR</a></li>
                    <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-dark dark-version t-dark mt-2" onclick="setTheme('style-dark')">Dark</a></li>
                    <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-dark light-version t-light mt-2" onclick="setTheme('style')">Light</a></li>
                </ul>

                <h6 class="title text-center pt-3 mb-0 border-top">Download</h6>
                <ul class="text-center list-unstyled mb-0">
                    <li><a href="https://1.envato.market/superex" target="_blank" class="btn btn-sm btn-block btn-warning mt-2 w-100">Download</a></li>
                </ul>
            </div>
            
        </div>
        <!-- end Style switcher -->
{% endblock %}