{% extends 'homepage.html' %}
{% load static %}
{% block content %}
        <!-- Loader -->
        <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
        <!-- Loader -->

        <!-- Navbar STart -->
        {% include 'include/black_header.html' %}
        <!-- Navbar End -->

        {% if request.user == user %}
        <!-- Start Home -->
        <section class="bg-half-170 d-table w-100" style="background: url('images/bg/01.jpg') bottom;">
            <div class="bg-overlay bg-gradient-overlay-2"></div>
            <div class="container">
                <div class="row mt-5 justify-content-center">
                    <div class="col-12">
                        <div class="title-heading text-center">
                            <h5 class="heading fw-semibold sub-heading text-white title-dark">Обновить профиль</h5>
                            <p class="text-white-50 para-desc mx-auto mb-0">Обновите свой профиль</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="position-middle-bottom">
                    <nav aria-label="breadcrumb" class="d-block">
                        <ul class="breadcrumb breadcrumb-muted mb-0 p-0">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">{{ setting.title }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Обновить профиль</li>
                        </ul>
                    </nav>
                </div>
            </div><!--end container-->
        </section><!--end section-->
        <div class="position-relative">            
            <div class="shape overflow-hidden text-white">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!-- End Home -->
        <!-- Start -->
        
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <h5>Вы можете установить предпочтительное отображаемое имя, добавить свою фотографию и управлять другими личными настройками.</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-12 order-2 order-md-1 mt-4 pt-2">
                        <div class="rounded-md shadow">
                            <div class="p-4 border-bottom">
                                <h5 class="mb-0">Обновить профиль :</h5>
                            </div>

                            <div class="p-4">
                                <form class="profile-edit" method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12 mb-4">
                                            <label class="form-label h6">Имя пользователя</label>
                                            <input name="username" id="first" type="text" class="form-control" value="{{ user.username }}">
                                        </div><!--end col-->
    
                                        <div class="col-12 mb-4">
                                            <label class="form-label h6">Имя</label>
                                            <div class="form-icon">
                                                <input name="first_name" id="web-url" type="text" class="form-control" value="{{ user.first_name }}">
                                            </div>
                                        </div><!--end col-->

                                        <div class="col-12 mb-4">
                                            <label class="form-label h6">Фамилия</label>
                                            <div class="form-icon">
                                                <input name="last_name" id="web-url" type="text" class="form-control" value="{{ user.last_name }}">
                                            </div>
                                        </div><!--end col-->
        
                                        <div class="col-12 mb-4">
                                            <label class="form-label h6">Почта</label>
                                            <input name="email" id="email" type="email" class="form-control" value="{{ user.email }}">
                                        </div><!--end col-->

                                        <div class="col-12 mb-4">
                                            <label class="form-label h6">Телефонный номер</label>
                                            <input name="phone" id="email" type="tel" class="form-control" value="{{ user.phone }}">
                                        </div><!--end col-->
                                    </div><!--end row-->
    
                                    
                                    <div class="row">
                                        <div class="col-12">
                                            <button type="submit" id="submit" name="update" class="btn btn-primary rounded-md">Обновить профиль {{ user.username }}</button>
                                        </div><!--end col-->
                                    </div><!--end row-->
                                </form>
                            </div>
                        </div>

                        <div class="col-lg-8 col-md-7 col-12 order-2 order-md-1 mt-4 pt-2">
                            <div class="rounded-md shadow">
                                <div class="p-4 border-bottom">
                                    <h5 class="mb-0">Обновить пароль :</h5>
                                </div>
    
                                <div class="p-4">
                                    <form class="profile-edit" method="POST">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-12 mb-4">
                                                <label class="form-label h6">Текущий пароль</label>
                                                <input name="password" id="first" type="password" class="form-control">
                                            </div><!--end col-->
        
                                            <div class="col-12 mb-4">
                                                <label class="form-label h6">Новый пароль</label>
                                                <div class="form-icon">
                                                    <input name="new_password" id="web-url" type="password" class="form-control">
                                                </div>
                                            </div><!--end col-->
    
                                            <div class="col-12 mb-4">
                                                <label class="form-label h6">Потвердите пароль</label>
                                                <div class="form-icon">
                                                    <input name="confirm_password" id="web-url" type="password" class="form-control">
                                                </div>
                                            </div><!--end col-->
            
                                            
                                        
                                        <div class="row">
                                            <div class="col-12">
                                                <button type="submit" id="submit" name="update_password" class="btn btn-danger rounded-md">Обновить пароль {{ user.username }}</button>
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </form>
                                </div>
                            </div>

                        <div class="rounded-md shadow mt-4">
                            <div class="p-4 border-bottom">
                                <h5 class="mb-0">Уведомления об учетной записи:</h5>
                            </div>

                            <div class="p-4">
                                <div class="d-flex justify-content-between pb-4">
                                    <h6 class="mb-0">When someone mentions me</h6>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="noti1">
                                        <label class="form-check-label" for="noti1"></label>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between py-4 border-top">
                                    <h6 class="mb-0">When someone follows me</h6>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" checked id="noti2">
                                        <label class="form-check-label" for="noti2"></label>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between py-4 border-top">
                                    <h6 class="mb-0">When shares my activity</h6>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="noti3">
                                        <label class="form-check-label" for="noti3"></label>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between py-4 border-top">
                                    <h6 class="mb-0">When someone messages me</h6>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="noti4">
                                        <label class="form-check-label" for="noti4"></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="rounded-md shadow mt-4">
                            <div class="p-4 border-bottom">
                                <h5 class="mb-0">Маркетинговые уведомления:</h5>
                            </div>

                            <div class="p-4">
                                <div class="d-flex justify-content-between pb-4">
                                    <h6 class="mb-0">Есть распродажа или акция</h6>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="noti5">
                                        <label class="form-check-label" for="noti5"></label>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between py-4 border-top">
                                    <h6 class="mb-0">Новости компании</h6>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="noti6">
                                        <label class="form-check-label" for="noti6"></label>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between py-4 border-top">
                                    <h6 class="mb-0">Еженедельные задания</h6>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" checked id="noti7">
                                        <label class="form-check-label" for="noti7"></label>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between py-4 border-top">
                                    <h6 class="mb-0">Отписаться от новостей</h6>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" checked id="noti8">
                                        <label class="form-check-label" for="noti8"></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="rounded-md shadow mt-4">
                            <form method="POST">
                                {% csrf_token %}

                                <div class="p-4 border-bottom">
                                    <h5 class="mb-0 text-danger">Удалить аккаунт :</h5>
                                </div>
    
                                <div class="p-4">
                                    <h6 class="mb-0">Вы хотите удалить аккаунт? Пожалуйста, нажмите внизу кнопку "Удалить"</h6>
                                    <div class="mt-4">
                                        <button class="btn btn-danger" type="submit" name = "delete">Удалить аккаунт</button>
                                    </div><!--end col-->
                                </div>
                            </form>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-5 col-12 order-1 order-md-2 mt-4 pt-2">
                        <div class="card ms-lg-5">
                            <div class="profile-pic">
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="d-grid">
                                            <p class="fw-semibold mb-4">Загрузите фотография вашего товара</p>
                                            <div class="preview-box d-block justify-content-center rounded-md shadow overflow-hidden bg-light text-muted p-2 text-center small">Главное фото будет отображаться в результатах поиска</div>
                                            <input type="file" id="input-file" name = "profile_image" name="input-file" accept="image/*" onchange={handleChange()} hidden />
                                            <div class="mt-4">
                                                <p class="text-muted mb-0">Мы рекомендуем изображение размером не менее 400 x 400</p>
                                            </div>
                                            <label class="btn-upload btn btn-primary rounded-md mt-4" for="input-file">Загрузить фотографию</label>
                                            <div class="col-lg-12">
                                                <input type="hidden" name = "update_profile_image">
                                                <button type="submit" style="margin-top: 10px;" class="btn btn-primary rounded-md">Обновить фотографию</button>
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                      
                                </form>
                            </div>

                            
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        {% else %}
        <!-- <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <h5>У вас нету доступа к данной странице</h5>
                    </div>
                </div>
            </div>
        </section> -->
        {% include 'error.html' %}
        {% endif %}
        <!-- End -->

        <!-- Footer Start -->
        {% include 'include/footer.html' %}
        <!-- Footer End -->

        <!-- Back to top -->
        <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top rounded-pill fs-5"><i data-feather="arrow-up" class="fea icon-sm icons align-middle"></i></a>
        <!-- Back to top -->

        <!-- Wallet Modal -->
        <div class="modal fade" id="modal-metamask" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">                    
                <div class="modal-content justify-content-center border-0 shadow-md rounded-md position-relative">
                    <div class="position-absolute top-0 start-100 translate-middle z-index-1">
                        <button type="button" class="btn btn-icon btn-pills btn-sm btn-light btn-close opacity-10" data-bs-dismiss="modal" id="close-modal"><i class="uil uil-times fs-4"></i></button>
                    </div>

                    <div class="modal-body p-4 text-center">
                        <img src="images/wallet/MetaMask_Fox.svg" class="avatar avatar-md-md rounded-circle shadow-sm " alt="">

                        <div class="content mt-4">
                            <h5 class="text-danger mb-4">Error!</h5>

                            <P class="text-muted">Please Download MetaMask and create your profile and wallet in MetaMask. Please click and check the details,</P>

                            <a href="https://metamask.io/" class="btn btn-link primary text-primary fw-bold" target="_blank">MetaMask</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Wallet Modal -->

        <!-- Style switcher -->
        <div id="style-switcher" class="bg-light border p-3 pt-2 pb-2" onclick="toggleSwitcher()">
            <div class="content">
                <h6 class="title text-center">Select Your Color</h6>
                <ul class="pattern">
                    <li class="list-inline-item">
                        <a class="color1" href="javascript: void(0);" onclick="setColor('default')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="color2" href="javascript: void(0);" onclick="setColor('yellow')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="color3" href="javascript: void(0);" onclick="setColor('green')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="color4" href="javascript: void(0);" onclick="setColor('red')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="color5" href="javascript: void(0);" onclick="setColor('purple')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="color6" href="javascript: void(0);" onclick="setColor('saffron')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="color7" href="javascript: void(0);" onclick="setColor('pink')"></a>
                    </li>
                </ul>

                <h6 class="title text-center pt-3 mb-0 border-top">Theme Option</h6>
                <ul class="text-center list-unstyled mb-0">
                    <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-primary rtl-version t-rtl-light mt-2" onclick="setTheme('style-rtl')">RTL</a></li>
                    <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-primary ltr-version t-ltr-light mt-2" onclick="setTheme('style')">LTR</a></li>
                    <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-primary dark-rtl-version t-rtl-dark mt-2" onclick="setTheme('style-dark-rtl')">RTL</a></li>
                    <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-primary dark-ltr-version t-ltr-dark mt-2" onclick="setTheme('style-dark')">LTR</a></li>
                    <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-dark dark-version t-dark mt-2" onclick="setTheme('style-dark')">Dark</a></li>
                    <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-dark light-version t-light mt-2" onclick="setTheme('style')">Light</a></li>
                </ul>

                <h6 class="title text-center pt-3 mb-0 border-top">Download</h6>
                <ul class="text-center list-unstyled mb-0">
                    <li><a href="https://1.envato.market/superex" target="_blank" class="btn btn-sm btn-block btn-warning mt-2 w-100">Download</a></li>
                </ul>
            </div>
            <div class="bottom p-0">
                <a href="javascript: void(0);" class="settings bg-white title-bg-dark shadow d-flex align-items-center justify-content-center"><i class="mdi mdi-cog mdi-24px position-absolute mdi-spin text-primary"></i></a>
            </div>
        </div>
        <!-- end Style switcher -->
        <script>
            const handleChange = () => {
            const fileUploader = document.querySelector('#input-file');
                const getFile = fileUploader.files
                if (getFile.length !== 0) {
                    const uploadedFile = getFile[0];
                    readFile(uploadedFile);
                }
            }

            const readFile = (uploadedFile) => {
                if (uploadedFile) {
                    const reader = new FileReader();
                    reader.onload = () => {
                    const parent = document.querySelector('.preview-box');
                    parent.innerHTML = `<img class="preview-content" src=${reader.result} />`;
                    };
                    
                    reader.readAsDataURL(uploadedFile);
                }
            };
        </script>
        
{% endblock %}